@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');
*{margin:0;padding:0;box-sizing:border-box;font-family:'Fredoka',sans-serif}
body{
  background:#fff7ed;
  background-image: radial-gradient(#a78bfa 1.5px, transparent 1.5px), radial-gradient(#f472b6 1.5px, transparent 1.5px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  color:#1f1142;
}

/* COLORFUL NAVBAR */
nav{
  display:flex;justify-content:space-between;align-items:center;
  padding:14px 24px;margin:18px 4%;border-radius:100px;
  background:linear-gradient(90deg,#a78bfa,#f472b6,#fb7185);
  box-shadow:0 10px 20px rgba(167,139,250,0.4);
  position:sticky;top:16px;z-index:99;
}
nav h1{color:white;font-size:22px;font-weight:700
